/* _-_-_- layout/FOOTER -_-_-_ */
.Footer-wrapper {
  display: flex;
  position: fixed;
  bottom: 0;
  height: 44px;
  width: 100%;
  background-color: $mineshaft;
  color: $wildsand;
  align-items: center;justify-content: center;

  p {
    font-size: $size-s;
  }
}
